.header {
  text-align: center;
}
/* override bootstrap navbar colors */
.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#ebebeb 0,#dcdada 100%) !important; /* override background image gradient w/ flat color */
}
/* Left panel */
.upload-panel {
  font-size: 75%;
  width: 320px;
  height: 100vh;
  padding: 1em;
  padding-right: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Right panel */
.explain-panel {
  font-size: 75%;
  width: 300px;
  height: 100vh;
  padding: 1em;
  padding-right: 1em;
  overflow: scroll;
  overflow-x: scroll;
}

/* Right panel */
.explore-panel {
  font-size: 75%;
  width: 300px;
  height: 100vh;
  padding: 1em;
  padding-right: 1em;
  overflow: scroll;
  overflow-x: scroll;
}

body {
  margin: 0px;
  overflow: visible
}

.lyr0
{
    
    position: fixed; 
    left: 0; 
    top: 0; 
    width:1200;
    height: 700;
    z-index:-10;
    overflow: visible;
}



.lyr1
{
    
    position: fixed; 
    left: 0; 
    top: 0; 
    width:1200;
    height: 700;
    z-index: -20;
    overflow: visible;
}

.lyr2
{
    
    position: fixed; 
    left: 0; 
    top: 0; 
    width:1200;
    height: 700;
    z-index: -30;
    overflow: visible;
}

.lyr3
{
    
    z-index: 10;
}

.cluster-slider
{
    
    position: fixed;
    padding: 10px;

    left: 100; 
    top: 650; 
    width:10%;
    height: 10%;
    z-index: 3;
}